/* Add here all your CSS customizations */
.feature-box-icon2{float:left; margin:0px 15px 0px 0px;}
.feature_row{width:100%; float:left; margin:15px 0px 25px 0px;}
.feature_row h4 span{color:#666;}
.feature-box-info h4{font-size:16px;}